# Preseed network configuration
d-i netcfg/disable_dhcp boolean false
d-i netcfg/use_dhcp boolean true
d-i netcfg/dhcp_timeout string 5
d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_options select Do not configure the network at this time

# Preseed default user creation (mcc / mcc)
d-i passwd/root-login boolean true
d-i passwd/root-password password mcc
d-i passwd/root-password-again password mcc
d-i passwd/make-user boolean true
d-i passwd/user-fullname string MCC User
d-i passwd/username string mcc
d-i passwd/user-password password mcc
d-i passwd/user-password-again password mcc
d-i passwd/user-default-groups string sudo docker video audio input storage
